# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3081"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# DB
POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
POSTGRES_PORT="1234"
POSTGRES_DB="db_name"
POSTGRES_HOST="db_host"

# Application config
APP_CONFIG_DOMAIN="" # Defailt domain for links, ex. my-app-domain.com (optional)
